* {
    margin: 0;
    padding: 0;

}

/* company name */
#heading {
    flex-direction: column;
}

#only-one {
    margin: auto;
    width: auto;
}

.only-two {
    font-size: 1.5rem;
}


#img1 {
    width: 150px;
    margin: 10px auto;
}

hr{
    margin: 5px 10px;
    padding: 0px 0px;
}


/* navbar section  */

#navbar {
    border: 2px solid red;
    height: 45px;
    font-size: 10px;
}

#navbar ul li a { 
    border-radius: 8px;
}


#navbar ul {
    overflow: hidden;
}

#navbar ul li a {
    margin: 10px 9px;
}

#mid::before {
    height: 430px;
}




/* This Is the Introduction*/

#my {
    height: auto;
    margin-top: 5px;
    padding: 5px 5px;
}

#para p {
    font-size: 0.6rem;
}

#head{
    width: auto;
    font-size: 30px;
    /* margin: auto; */
}


/* Features */
.container {
    width: auto;
    margin: 5px 5px;
    height: auto;
    padding: 10px 5px;
}

#left img {
    width: 155px;
}

#right img {
    width: 245px;
}




/* clients section */


.moving {
    margin: 30px auto;
}

#clients1 {
    width: 250px;
}

#clients4 {
    width:260px;
}

#clients5 {
    width:260px;
}



/* footer section  */
#contacts{
width: 80%;
border-radius: 35px;
}

#contacts h1{
    font-size: 100%;
}